html,
body,
#container{
  font-family: Arial, sans-serif;
  height: 100%;
  margin: 0;
  padding: 0;
}

#optionsBox{
    height: 400px;
    width: 250px;;
    text-align:left;
    position:fixed;
    z-index:9;
    border: solid 2px black;
    border-radius: 5px;
    margin: 50px 0 0 20px;
    background-color:#ffffff;
}

#toggleBar{
    width:inherit;
    height:30px;
    background-color:greenyellow;
    border-bottom: solid 2px black;
    border-radius: 5px;
    text-align:center;
    line-height:30px;
}

#map{
    height:100%;
}