<<<<<<< HEAD
html,
body,
#container {
  font-family: Arial, sans-serif;
  height: 100%;
  margin: 0;
  padding: 0;
}

hr {
    background: #D0D7D9;
    height: 1px;
    margin: 10px 0;
    border: none;
}

input {
    margin:10px 0;
}
ul {
    -webkit-margin-before: 0;
    -webkit-margin-after: 0;
    -webkit-padding-start: 0;
}
li {
    list-style: none;
    margin:5px 0 5px 0;
}

#optionsBox {
    height: 500px;
    width: 250px;;
    text-align:center;
    position:absolute;
    z-index:9;
    border: solid 2px black;
    border-radius: 5px;
    margin: 50px 0 0 20px;
    background-color:#ffffff;
    overflow: hidden;
}
#toggleList,
#zoom,
#search {
    font-size:20px;
}
#toggleBar {
    width:inherit;
    height:30px;
    background-color:greenyellow;
    border-bottom: solid 2px black;
    border-radius: 5px;
    text-align:center;
    line-height:30px;
}

#toggleList {
  display:block;
  margin:10px auto;
}
#zoomBox {
    width:inherit;
    height: 35%;
}
#favoriteArea,
#searchText {
    width:75%;
}

#duration,
#mode {
    width:35%;
}

#searchBox {
    font-size:15px;
}

#map {
    height:100%;
}

#pano {
    width: 200px;
    height: 200px;
}
=======
html,
body,
#container {
  font-family: Arial, sans-serif;
  height: 100%;
  margin: 0;
  padding: 0;
}

hr {
    background: #D0D7D9;
    height: 1px;
    margin: 10px 0;
    border: none;
}

input {
    margin:10px 0;
}
ul {
    -webkit-margin-before: 0;
    -webkit-margin-after: 0;
    -webkit-padding-start: 0;
}
li {
    list-style: none;
    margin:5px 0 5px 0;
}

#optionsBox {
    height: 500px;
    width: 250px;;
    text-align:center;
    position:absolute;
    z-index:9;
    border: solid 2px black;
    border-radius: 5px;
    margin: 50px 0 0 20px;
    background-color:#ffffff;
    overflow: hidden;
}
#toggleList,
#zoom,
#search {
    font-size:20px;
}
#toggleBar {
    width:inherit;
    height:30px;
    background-color:greenyellow;
    border-bottom: solid 2px black;
    border-radius: 5px;
    text-align:center;
    line-height:30px;
}

#toggleList {
  display:block;
  margin:10px auto;
}
#zoomBox {
    width:inherit;
    height: 35%;
}
#favoriteArea,
#searchText {
    width:75%;
}

#duration,
#mode {
    width:35%;
}

#searchBox {
    font-size:15px;
}

#map {
    height:100%;
}

#pano {
    width: 200px;
    height: 200px;
}
>>>>>>> fdfd66e2316bb68c00cf2a1b4c0f97b71e289eac
